@import url('../fonts/stylesheet.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1306px;
    margin: auto;
}
.d-f {
    display: flex;
    width: 100%;
}
/* HEADER CSS START */
.back-cl {
    background-color: #222021;
    background-image: url('../images/error/bcswg.png');
    background-repeat: no-repeat;
}
.back-img {
    background-image: url('../images/error/pexels-lumn.png');
    background-repeat: no-repeat;
}
.back-cl2 {
    background-color: #22202182;
}
.nav-logo {
    width: 30%;
}
.nav-menu {
    width: 60%;
    align-self: center;
}
.nav-flex {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 57px;
    padding-top: 56px;
}
.nav-menu > ul > li {
    display: inline;
}
.nav-menu > ul > li > a, .mobile-menu-block-item > a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F5F5F5;
    padding: 0 31.5px;
    transition-duration: 0.5s;
}
.mobile-menu-block-item > a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #F5F5F5;
    padding: 0 14.5px;
    transition-duration: 0.5s;
}
.nav-menu > ul > li > a:hover {
    color: #589fff;
}
.nav-mobile__menu {
	display: none;
}
.nav-mobile__menu {
    text-align: right;
    align-self: center;
    width: 80%;
}
.mobile-menu-block-item > a {
	text-decoration: none;
}
.mobile-menu-block {
	width: 0px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url('../images/error/bcswg.png');
    background-color: #222021;
	transition: width 0.7s;
	overflow: hidden;
}
.text-left {
	text-align: left;
}
.mobile-menu-block label {
	color: white;
	cursor: pointer;
}
.mobile-menu-block-item {
	color: white;
	list-style: none;
}
#toggle-menu:checked + .mobile-menu-block {
	width: 230px;
	padding: 16px;
}
/* HEADER CSS END */
/* MAIN CSS START */
/* SECTION1 CSS START */

.section1 {
    width: 100%;
    text-align: center;
}
.section1-title > img {
    width: 100%;
}
.section1-subtitle > h2{
    font-family: 'KyivType Sans Black';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 107.9%;
    color: #F5F5F5;
}
.section1-subtitle > p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFDBBB;
    padding: 37px 0 42px;
}
.section1-subtitle > a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #F5F5F5;
    background: #728BAD;
    border-radius: 42px;
    padding: 11px 70.5px;
    margin-bottom: 66px;
    transition-duration: 0.5s;
}
.section1-subtitle > a:hover {
    background: #fcfcfc;
    color: black;
}
/* SECTION1 CSS END */
