@import url('../fonts/stylesheet.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1306px;
    margin: auto;
}
.d-f {
    display: flex;
    width: 100%;
}
.t-c {
    text-align: center;
}
.back-cl {
    background-image: url('../images/gallery/bcimg.png');
    background-repeat: no-repeat;
    background-color: #222021;
}
/* HEADER CSS START  */
.nav-logo {
    width: 30%;
}
.nav-menu {
    width: 60%;
    align-self: center;
}
.nav-flex {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 57px;
    padding: 56px 0 47px;
}
.nav-menu > ul > li {
    display: inline;
}
.nav-menu > ul > li > a, .mobile-menu-block-item > a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F5F5F5;
    padding: 0 31.5px;
    transition-duration: 0.5s;
}
.nav-menu > ul > li:nth-of-type(1) > a {
    color: #A3B8D7;
}
.mobile-menu-block-item > a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #F5F5F5;
    padding: 0 14.5px;
    transition-duration: 0.5s;
}
.nav-menu > ul > li > a:hover {
    color: #589fff;
}
.nav-mobile__menu {
	display: none;
}
.nav-mobile__menu {
    text-align: right;
    align-self: center;
    width: 80%;
}
.mobile-menu-block-item > a {
	text-decoration: none;
}
.mobile-menu-block {
	width: 0px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url('../images/gallery/bcswg.png');
    background-color: #222021;
	transition: width 0.7s;
	overflow: hidden;
}
.text-left {
	text-align: left;
}
.mobile-menu-block label {
	color: white;
	cursor: pointer;
}
.mobile-menu-block-item {
	color: white;
	list-style: none;
}
#toggle-menu:checked + .mobile-menu-block {
    width: 176px;
    padding: 16px;
}
.nav-bg {
    background: #1E0C06;
    box-shadow: 0px -8px 52px rgba(238, 238, 238, 0.17);
    border-radius: 0px 0px 79px 79px;
}
/* HEADER CSS END  */
/* MAIN CSS START  */
/* SECTION 1 CSS START  */
.section1-title > h3 {
    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 132.9%;    
    text-transform: uppercase;
    color: #F5F5F5;
    padding: 102px 0 121px 248px;
}
.section1-flex {
    justify-content: space-between;
    align-items: center;
}
.slider {
    width: 1130px;
    height: 775px;
    margin: 30px auto;
    overflow: hidden;
}
.slider-line {
    height: 754px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.slider-line > img {
    border-radius: 5%;
}
.slider-next, .slider-prev {
    cursor: pointer;
}
/* SECTION 1 CSS END  */
/* SECTION 2 CSS START  */
.section2-title > h2 {
    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 132.9%;
    text-transform: uppercase;
    color: #F5F5F5;
    padding: 236px 300px 125px 240px;
}
.section2-flex {
    justify-content: space-evenly;
}
.section2-flex h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #F5F5F5;
    text-align: center;
    padding: 39px 0;
}
.section2-flex p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #F5F5F5;
    padding-bottom: 24px;
}
.section2-block1, .section2-block2, .section2-block3 {
    width: 22%;
}
.section2-block1 > img, .section2-block2 > img, .section2-block3 > img {
    margin-left: 40px;
    transition: all 0.5s;
    transform: scale3d(1, 1, 1);
}
.section2-block1 > img:hover, .section2-block2 > img:hover, .section2-block3 > img:hover {
    transform: scale3d(1.2, 1.2, 1.5);
}
/* SECTION 2 CSS END  */
/* SECTION 3 CSS START  */
.section3 {
    padding-top: 190px;
}
.section3-title > h4 {
    text-align: end;
    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 132.9%;
    text-transform: uppercase;
    color: #F5F5F5;
    padding-bottom: 45px;
}
.section3-flex {
    justify-content: space-evenly;
}
.section3-inputs {
    width: 48%;
}
.section3-inputs > form > input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 139.4%;
    border: 4px solid #728BAD;
    border-radius: 42px;
    background-color: #ffffff00;
    width: 598px;
    padding: 14px 0 14px 20px;
    margin-bottom: 23px;
}
textarea {
    border: 4px solid #728BAD;
    border-radius: 42px;
    background-color: #ffffff00;
    width: 598px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 139.4%;
    padding: 14px 0 14px 20px;
    height: 257px;
}
.section3-text {
    width: 45%;
}
button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #F5F5F5;
    background: #728BAD;
    border-radius: 42px;
    padding: 9px 68.5px;
    margin-top: 40px;
    transition-duration: 0.5s;
}
button:hover {
    background: #fcfcfc;
    color: black;
    cursor: pointer;
}
.section3-img > img {
    width: 100%;
    margin: 140px 0px -193px 0;
    transform: rotate(0deg);
    transition: all 0.5s;
}
.section3-img > img:hover {
    transform: rotate(5deg);
}
/* SECTION 3 CSS END  */
/* MAIN CSS END  */
/* FOOTER CSS START  */
footer {
    background-color: #222021;
    padding-top: 70px;
    position: relative;
}
.footer-flex {
    justify-content: space-evenly;
}
.footer-tel > a, .footer-nav > a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 139.4%;
    color: #F5F5F5;
    display: inline-block;
    margin-left: 18px;
    text-decoration: none;
    transition-duration: 0.5s;
}
.footer-tel > a:hover, .footer-nav > a:hover {
    color: #589fff;
}
.footer-pol > a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 139.4%;
    color: #F5F5F5;
    display: inline-block;
    text-decoration: none;
    margin: 0 0 0 110px;
    transition-duration: 0.5s;
}
.footer-pol > a:hover {
    color: #589fff;
}
.footer-text > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 139.4%;    
    text-align: right;
    color: #F5F5F5;
    padding: 0 110px 0 0px;
}
.footer-pol, .footer-text {
    width: 50%;
}
.footer-flex2 {
    padding-top: 58px;
}
/* FOOTER CSS END  */
